* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #33323f;
  position: relative;
  height: 97vh;
}

a {
  text-decoration: none;
  color: #3002d6;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #e6dfdf;
}

input {
  padding: 0.5rem;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 0.5rem;
  outline: none;
  width: 30vw;
}

ul {
  list-style: none;
}

.list {
  width: 100%;
  background-color: #e6e6ee;
  border-radius: 0.2rem;
  border: 1px solid #fff;
  padding: 0.1rem;
  margin: 0.5rem 0;
  max-height: 350px;
  overflow-y: auto;
}

.list li {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 30px;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0000c9;
  color: #faf9f9;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  border: 1px solid #0000c9;
}

.title {
  margin: 2rem 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: #fdfdfd;
}

.board-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#leaderboard {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #050a38;
  border-radius: 1rem;
}

.leaderboard {
  width: 35vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  left: 0;
  background-color: #050a38;
  color: #f5f5f5;
}

.dark {
  background-color: #050a38;
  color: #d8d3d3;
}
